.hidden {
  display: none;
}

.preloader-wrapper.small {
  width: 20px;
  height: 20px;
}

.nav-wrapper {
  padding-left: 20px;
}

.bold {
  font-weight: bold;
}

.collection .collection-item {
  line-height: 2.5rem;
}

.unverified {
  background-color: #c5c5c5 !important;
}

#settings {
  width: 300px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0 10px;
}